
.navbar-padding {
  padding: 1rem 1rem;
}

.navbar-background {
  background-color: #2B2C2A;
}

.content-background {
  background-color: #222121;
}

.footer-background {
  background-color: #2B2C2A;
}


/* Header Overrides*/
.header-image {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../img/evacuation-gameplay.png);
}

/* Body Style */
@font-face {
  font-family: JosefinSans;
  src: url(../fonts/josefin-sans-bold.ttf);
}

@font-face {
  font-family: FuturaBook;
  src: url(../fonts/Futura-Book.ttf);
}

@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Medium.otf);
}

.body-general-text {
  color: #EFEFEF;
  font-family: CircularStd;
}

.body-text {
  font-family: FuturaBook;
  font-size: 1rem;
}

.heading {
  font-family: FuturaBook;
}

.header-block {
  min-height: 30rem;
}

.header {
  padding-top: 2rem;
  padding-bottom:  2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sub-head-image {

}

.line::after {
  content: "";
  display: block;
  position: relative;
  width: 50%;
  height: 4px;
  bottom: -2rem; /*positions relative to the bottom*/
  left: 25%;
  background-color: white;
  z-index: 999;
}

.content-padding {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.paragraph-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*About section*/
.about-padding {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.about-image {
  object-fit: cover;
  display: block;
  text-align: center !important;
  margin: auto;
  width:200px;
  height: 200px;
}

.about-image-background {
  background-color: #5E9CDF;

}

.skill-background {
  background-color: #2B2C2A;
}

.skill-bar {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.skill-bar-progress {
  width: 0;
  animation: skill-animate 3s ease-in-out forwards;
}

.progress-padding {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button-align {
  text-align: right;
}

.button-image {
  height: 90%;
  width: auto;
}

.polygon-animate {
  clip-path: polygon(20% 10%, 80% 10%, 100% 60%, 10% 80%);
  animation: polygons 6s alternate infinite;
}

@keyframes skill-animate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes polygons {
  30% {
    clip-path: polygon(20% 15%, 100% 38%, 70% 60%. 30% 80%);
  }
  55% {
    clip-path: polygon(10% 46%, 60% 5%, 90% 64%, 40% 80%);
  }
  80% {
    clip-path: polygon(50% 10%, 90% 30%, 55% 75%, 10% 40%);
  }
}

/*Portfolio block*/
.portfolio-block {
  height: 300px;
}

.portfolio-image {
  object-fit: cover;
  height: inherit;
  width: 100%;
}

.portfolio-padding {
  padding-bottom: 2rem;
}

.portfolio-card-col {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.portfolio-card {
  background-color: #4C5D63;
  border: 0px;
}

.card-image {
  object-fit: cover;
  height: 200px;
}
